cmd/client/client
cmd/server/server
cmd/coordinator/coordinator
cmd/simulation/simulation
cmd/coordinator/servers.json
cmd/coordinator/groups.json
cmd/coordinator/clients.json
cmd/coordinator/keys.json
cmd/coordinator/messages.json
cmd/certificates/*.pem
cmd/certificates/*.key
coordinator/*.pprof
coordinator/*.prof
cmd/*/*.pprof
cmd/experiments/*.list
cmd/*/*.log
errors/*.log
cmd/testnet2/testnet2
